{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    <div class="col-md-5 m-auto">
        {{ form(form) }}
        <a href="{{path('app_login')}}">Já possui uma conta? Faça login!</a>
    </div>
{% endblock %}
